<div align="center" class="loginDiv">
  <mat-card>
  <h2>Admin Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field class="fullWidthInput">
      <mat-label>Email</mat-label>
     <input matInput placeholder="Enter your email" formControlName="email">
     <mat-error *ngIf="loginForm.get('email').invalid">Invalid Email</mat-error>
   </mat-form-field>

    <mat-form-field class="fullWidthInput">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Enter your password" formControlName="password">
      <mat-error *ngIf="loginForm.get('password').invalid">Password is required</mat-error>
    </mat-form-field>
    <button [disabled]="loginForm.invalid" type="submit" mat-raised-button color="primary">SignIn</button>
  </form>
</mat-card>
</div>
{{loginForm.value | json}}
