<div class="main_content">
<div class="addCategoryDiv">
  <mat-card>
     <mat-card-title>Add Category</mat-card-title>
     <div class="ctgr_top_nav">
       <div class="ctgr_top_nav_inner">
       <button title="Save" routerLink="/category/add" class="top_button">
        <mat-icon>save</mat-icon>
      </button>
      <button title="Return" class="top_button cancel_add_btn">
       <mat-icon>keyboard_return</mat-icon>
     </button>
       </div>
     </div>
       <mat-card-content>
         <mat-tab-group>
  <!-- General Inputs Tab -->
  <mat-tab label="General">
    <form [formGroup]="catgrFormGeneral" novalidate>
    <mat-form-field class="form-field">
 <input matInput type="text" placeholder="Category Name" formControlName="name"/>
 <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
 <mat-icon>close</mat-icon>
 </button>
</mat-form-field>
<mat-form-field class="form-field">
<textarea matInput placeholder="Description" formControlName="desciption"></textarea>
<button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
<mat-icon>close</mat-icon>
</button>
</mat-form-field>
<mat-form-field class="form-field">
<input matInput type="text" placeholder="Meta Tag Title" formControlName="meta_title" />
<button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
<mat-icon>close</mat-icon>
</button>
</mat-form-field>
<mat-form-field class="form-field">
<textarea matInput placeholder="Meta Tag Description" formControlName="meta_description"></textarea>
<button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
<mat-icon>close</mat-icon>
</button>
</mat-form-field>
<mat-form-field class="form-field">
<textarea matInput placeholder="Meta Tag Keywords" formControlName="meta_keyword"></textarea>
<button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
<mat-icon>close</mat-icon>
</button>
</mat-form-field>
</form>
</mat-tab>

<!-- Data Inputs Tab -->
<mat-tab label="Data">
  <form [formGroup]="catgrFormData" novalidate>
  <mat-form-field class="form-field">
<input matInput type="text" placeholder="Parent" formControlName="parent" />
<button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
<mat-icon>close</mat-icon>
</button>
</mat-form-field>
<div class="mat-form-field">
  <input type="file" class="catgr_data_file"/>
</div>
<mat-form-field>
  <mat-select placeholder="Status" disableRipple>
    <mat-option value="1">Enabled</mat-option>
    <mat-option value="0">Disabled</mat-option>
  </mat-select>
</mat-form-field>
</form>
</mat-tab>
</mat-tab-group>
       </mat-card-content>
  </mat-card>
  <p>Form value: {{ catgrFormGeneral.value | json }}</p>
  <p>Form value: {{ catgrFormData.value | json }}</p>
</div>
</div>
