<div class="main_content">
    <div class="addManufacturerDiv">
      <mat-card>
         <mat-card-title>Add Manufacturer</mat-card-title>
         <div class="addmftr_top_nav">
           <div class="addmftr_top_nav_inner">
           <button title="Save" (click)="saveMftr()" class="top_button">
            <mat-icon>save</mat-icon>
          </button>
          <button title="Return" class="top_button cancel_add_btn">
           <mat-icon>keyboard_return</mat-icon>
         </button>
           </div>
         </div>
           <mat-card-content>
         <form [formGroup]="mftrFormData" novalidate>
            <mat-form-field class="form-field">
                <input matInput type="text" placeholder="Manufacturer Name" formControlName="name" id="name"/>
                <button mat-button *ngIf="mftrFormData.value.name" matSuffix mat-icon-button aria-label="Clear" (click)="mftrFormData.value.name='';clearInput('name')">
                <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="mftrFormData.invalid">
               You must enter a value</mat-error>
               </mat-form-field>
               <div class="mat-form-field">
                  <input type="file" name="image" class="addmftr_data_file" id="addmftr_data_file"/>
                </div>
                <mat-form-field class="form-field">
                    <input matInput type="text" placeholder="Sort Order" formControlName="sort_order" id="sort_order"/>
                    <button mat-button *ngIf="mftrFormData.value.sort_order" matSuffix mat-icon-button aria-label="Clear" (click)="mftrFormData.value.sort_order='';clearInput('sort_order')">
                    <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="mftrFormData.invalid">
                   You must enter a value</mat-error>
                   </mat-form-field>
         </form>

           </mat-card-content>
      </mat-card>
    
    </div>
    </div>
    