.main_content{
  
}
.categoriesDiv{
  text-align: center;
}

.catgr_table_div {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: visible;
}

.mat-column-select {
  overflow: visible;
}

/* .mat-paginator{

} */

.filter-form{
  min-height: 64px;
 padding: 8px 24px 0;
 float: left;
}
.search-form{
  min-height: 64px;
 padding: 8px 24px 0;
 float: right;
}
.ctgr_top_nav{
  position: relative;
}
.ctgr_top_nav_inner{
  position: absolute;
  z-index: 2;
  right: 2px;
  top:2px;
}
.add_catgr_button{
  background-color: #0277bd;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.delete_catgr_button{
  background-color: #b71c1c;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.refresh_catgr_button{
  background-color: #64b5f6;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}


/* Alert Background */
.alertContainer{
  position: fixed;
  z-index: 12;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Alert Content */
.alertContent{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  width: 80%;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
 -webkit-animation-duration: 0.4s;
 animation-name: animatetop;
 animation-duration: 0.4s;
}

.alertBody{
  padding: 8px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close{
  float: right;
  color: white;
  font-size: 28;
  font-weight: bold;
  padding-right: 10px;
  padding-top: 3px;
}

.close:hover,
.close:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.alertHeader{
  background-color: #4144BA;
  color: white;
}
.alertHeader h3{
  padding: 2px 10px;
}
 .alertFooter{
  padding: 2px 16px;
  border-top:1px solid #5cb85c;
  color: white;
}
.alertButtons{
  text-align: center;
}